/*  your css code here. If applicable */
.container{
	
	
	width: 100px;
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	
}
.green{
	border: 2px solid black;
	width: 100px;
	height: 100px;
	background-color: green;
	border-radius: 50%;
	
}
.red{
	border: 2px solid black;
	width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 50%;
	
}
.yellow{
	border: 2px solid black;
	width: 100px;
	height: 100px;
	background-color: yellow;
	border-radius: 50%;
	
}
